<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TweetDeck.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TweetDeck.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TweetDeck.My.MySettings>
            <setting name="minimizeAppOnCloseForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="currentXulRunnerVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mainWindowHandle" serializeAs="String">
                <value>0</value>
            </setting>
        </TweetDeck.My.MySettings>
    </userSettings>
    <applicationSettings>
        <TweetDeck.My.MySettings>
            <setting name="xulrunnerVersion" serializeAs="String">
                <value>33</value>
            </setting>
        </TweetDeck.My.MySettings>
    </applicationSettings>
</configuration>